<h1>Hello from template</h1>

<form name="user_form" method="POST" action="./create_user">
    <fieldset>
         <label for="id_user_name">Enter user name:</label>
         <input id="id_user_name" name="user_name" type="text">
    </fieldset>

    <fieldset>
        <label for="id_user_alias">Enter user alias:</label>
        <input id="id_user_alias" name="user_alias" type="text">
    </fieldset>

    <fieldset>
        <label for="id_user_fullname">Enter user fullname</label>
        <input id="id_user_fullname" name="user_fullname" type="text">
    </fieldset>

    <button type="submit" for="user_form">
        Create User
    </button>
</form>
    
